chaincode/mobileidcc.tar.gz
chaincode/*/src/vendor

config/crypto-config
config/channel-artifacts

network/*/orderer/orderer

network/*/peer-ca/peer_postgresql

network/*/peer-ca/fabric-ca/*.key
network/*/peer-ca/fabric-ca/*.pem
network/*/peer-ca/fabric-ca/*.req

network/*/peer-ca/postgres/*.key
network/*/peer-ca/postgres/*.pem
network/*/peer-ca/postgres/*.req

network/*/peer-ca/postgres/data

network/*/peer-ca/test/fabric-ca/*.key
network/*/peer-ca/test/fabric-ca/*.pem
network/*/peer-ca/test/fabric-ca/*.req

network/*/peer-ca/test/postgres/*.key
network/*/peer-ca/test/postgres/*.pem
network/*/peer-ca/test/postgres/*.req

network/*/peer/mobileidcc/scripts/log.txt

network/*/middleware*/application/wallet
network/*/middleware*/application/node_modules
network/*/middleware*/application/logs/*.log
network/*/middleware*/connection.json
network/*/middleware*/application/.env
network/*/middleware*/application/npm-debug.log